.bodyFondo{
    background-color: black;
}
.navbar{
    background-color: rgb(74, 74, 74);
}
.imgRedonda{
    width:200px;
    height:200px;
    border-radius:150px;
    border: 10px solid rgb(82, 217, 109);
    box-shadow: 0 0 30px rgb(32, 172, 74);;
}

.footer-bottom{
    background-color: rgb(74, 74, 74);
}